################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/AngularJSAuthentication.API/bin
/AngularJSAuthentication.API/obj
/AngularJSAuthentication.API/Properties/PublishProfiles
